/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";


global
{
	selection-color: #FFFFFF;
	symbol-color: #FFFFFF;
	backgroundColor: #00FF00;
	text-align: left;
	content-background-color: #FFFFFF;
	content-background-alpha: 0.71;
}
	