/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";


global
{
	selection-color: #889786;
	symbol-color: #0D9C22;
	backgroundColor: #6FA851;
	text-align: left;
	content-background-color: #FFFFFF;
	content-background-alpha: 0.71;
	chrome-color: #0C6707;
}
s|Button.login
{
	color: #222222;
	chrome-color: #888888;
}
	

s|Label#advice
{
	backgroundAlpha : 0;
}

s|Label#advice2
{
	backgroundAlpha : 0;
}
s|Button.button
{
	fontSize: 18;
	basecolor : black;
	textShadowAlpha : 0;
	fontWeight: normal;
	color: #FFFFFF;
}

s|VGroup s|TextInput
{	
	color : gray;
}
