/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";


global
{
	selection-color: #889786;
	symbol-color: #0D9C22;
	backgroundColor: #6FA851;
	text-align: left;
}
	

s|Label#advice, s|Label#advice2 
{
	backgroundAlpha : 0;
}